#layout {
    width: auto;
    border: none;
    border-collapse: separate;
    background: white;
    float: left;
    font-family: SimSun, serif;
}

#layout-menu {
    position: fixed;
    left: 10px;
    top: 0;
    width: 150px;
    background: #b2e2d6;
    /*border: 1px solid #111111;*/
    /*padding-top: 0.5em;*/
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.0em;
    height: 1000px;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    float: left;
}

div.menu-category {
    border-bottom: 1px solid gray;
    margin-top: 0.8em;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    font-weight: bold;
    font-size: 30px;
}

div.menu-item {
    padding-left: 16px;
    padding-bottom: 5px;
    text-indent: -16px;
    font-size: 18px;
}

#layout-content {
    width: 718px;
    padding-top: 0.0em;
    padding-left: 13em;
    padding-right: 1.0em;
    border: none;
    background: white;
    text-align: left;
    vertical-align: top;
    float:left;
}

#toptitle {
    width: 800px;
    color: #527bbd;
    margin-left: 2em;
    padding-bottom: 0.2em;
    margin-bottom: 1.5em;
    border-bottom: 3px double gray;
    float:left;
}

#secondtitle {
    width: 800px;
    color: #527bbd;
    margin-left: 1.5em;
    padding-bottom: 0.2em;
    /*margin-bottom: 1em;*/
    border-bottom: 3px double gray;
    float:left;
}


#imgtable{
    width: 200px;
    height: 300px;
    margin-left: 2em;
    border: none;
    float:left;
}

#information{
    width: 450px;
    height: 300px;
    margin-left: 2em;
    float: left;
}

#education{
    padding-top: 0.0em;
    padding-left: 1.0em;
    padding-right: 1.0em;
    border: none;
    background: white;
    text-align: left;
    vertical-align: top;
    float:left;
}

a.current:visited {
    color: #022b6d;
    border-bottom: 1px gray solid;
}

a.noncurrent {
    color: #527bbd;
    text-decoration: none;
}

a:hover{
    border-bottom: 1px gray dashed;
}

#font1{
    line-height:50px;
    font-size: 18px;
}